@page "/Manage/Licenses/Edit/{Id}"
@attribute [Authorize(Roles = "SuperAdmin,Admin")]

@using System.Collections.ObjectModel
@using Sms.Licensing.Core.Extensions
@using Sms.Licensing.Shared.Models
@using Sms.Licensing.Sdk.Server.Abstractions

@inject IStringLocalizer<Index> Localizer
@inject ISmsApiServer ApiServer
@inject NavigationManager NavManager

<h1>@Localizer["Edit"]</h1>
<h4>@Localizer["License"]</h4>
<hr />

<MessageDialog @ref="_msgDialog" />
<div class="row">
    <div class="col-12 col-md-6 col-lg-5">
        <EditForm Model="@_licenseModel" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="OwnerId">@Localizer["Client Name"]</label>
                <SfComboBox ID="OwnerId" TItem="UserDto" TValue="string" @bind-Value="@_licenseModel.OwnerUserName" DataSource="@_usersCollection">
                    <ComboBoxFieldSettings Value="UserName"></ComboBoxFieldSettings>
                </SfComboBox>
            </div>
            <div class="form-group">
                <label for="MachineId">@Localizer["Machine ID"]</label>
                <SfTextBox ID="MachineId" FloatLabelType="FloatLabelType.Auto" Placeholder="ex. adSy5Ftr-oHUjW5MUKOWl4Mp" @bind-Value="@_licenseModel.MachineId" Enabled="false"></SfTextBox>
            </div>
            <div class="form-group">
                <label for="ProductName">@Localizer["Product Name"]</label>
                <SfTextBox ID="ProductName" @bind-Value="@_licenseModel.ProductName" Enabled="false"></SfTextBox>
            </div>
            <div class="form-group">
                <label for="ObjectName">@Localizer["Object Name"]</label>
                <SfTextBox ID="ObjectName" @bind-Value="@_licenseModel.ObjectName"></SfTextBox>
            </div>
            <div class="form-group">
                <label for="IssueDate">@Localizer["Issue Date"]</label>
                <SfDatePicker ID="IssueDate" @bind-Value="@_licenseModel.IssueDate" Enabled="false"></SfDatePicker>
            </div>
            <div class="form-group">
                <label for="ExpiryDate">@Localizer["Expiry Date"]</label>
                <SfDatePicker ID="ExpiryDate" @bind-Value="@_licenseModel.ExpiryDate"></SfDatePicker>
            </div>
            <button type="submit" class="btn btn-primary">@Localizer["Save"]</button>
        </EditForm>
    </div>
</div>

<div class="mt-3">
    <a href="/Manage/Licenses">@Localizer["Back to List"]</a>
</div>

@code {
    private readonly ObservableCollection<UserDto> _usersCollection = new();
    private LicenseDto _licenseModel = new();
    private MessageDialog _msgDialog;

    [Parameter] public string Id { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        var getUsersResponse = await ApiServer.GetUsersAsync();

        if (_msgDialog.ShowIfHasApiErrors(getUsersResponse))
            return;

        var getLicenseResponse = await ApiServer.GetLicenseAsync(Id);

        if (_msgDialog.ShowIfHasApiErrors(getLicenseResponse))
            return;

        _licenseModel = getLicenseResponse.Data;
        var users = getUsersResponse.Data.Where(i => !i.UserRoles.Contains("SuperAdmin") &&
                                                  !i.UserRoles.Contains("Admin"));

        _usersCollection.AddRange(users);
        StateHasChanged();
    }

    private async void HandleValidSubmit()
    {
        var apiResult = await ApiServer.UpdateLicenseAsync(_licenseModel);

        if (_msgDialog.ShowIfHasApiErrors(apiResult))
            return;

        NavManager.NavigateTo("/Manage/Licenses");
    }
}
